bin/*
.DS_Store
popcon
deploy.sh
popcon.json
dump.rdb
log
.VSCode/
ssl/
contests/
contest_problems/
submissions/
vendor/
!html/contests/
*.png
*.jpg
!pojoaque.jpg
!brown-papersq.png
!school-book.png
config.json
env_exec.sh
mysql_exec.sh
redis_exec.sh
